
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer> div{
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top: 5px solid black;
}
.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    position: absolute;
    width: 1080px;
    height: 263px;
}
.main{
    text-align: center;
    height: 1770px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main >div> div:nth-child(1) > p{
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main > div>div:nth-child(2) {
    display: inline-flex;
    padding: 25px 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #73CBDE;
}
.main >div> div:nth-child(2) > p{
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main > div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header > form > label {
    text-align: right;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header > form > input {
    width: 940px;
    height: 100px;
    flex-shrink: 0;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid blue;
    background-color: #73CBDE;
}